{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    <div class="flex flex-col items-center justify-center min-h-screen">
        {{ form_start(registrationForm) }}
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Inscription</legend>
            {{ form_row(registrationForm.firstName, {
                label: 'Prénom',
                error_item_class: 'text-error',
                attr: {
                    class: 'input'
                }
            }) }}
            {{ form_row(registrationForm.lastName, {
                label: 'Nom',
                error_item_class: 'text-error',
                attr: {
                    class: 'input'
                }
            }) }}
            {{ form_row(registrationForm.email, {
                label: 'Email',
                error_item_class: 'text-error',
                attr: {
                    class: 'input'
                }
            }) }}
            {{ form_row(registrationForm.password.first, {
                label: 'Mot de passe',
                error_item_class: 'text-error',
                attr: {
                    class: 'input'
                }
            }) }}
            {{ form_row(registrationForm.password.second, {
                label: 'Confirmer le mot de passe',
                error_item_class: 'text-error',
                attr: {
                    class: 'input'
                }
            }) }}

            <button class="btn btn-neutral mt-4" type="submit">Login</button>
        </fieldset>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
